a:hover, a:focus {
color: #ffffff !important;
}

#home-page{
	background-image: url("images/heroImage.png");
	background-size: cover; 
}

#home-page .inner-page{
	height: 600px;
	display: table;
	margin: 0 auto;
}

#homeNavWrapper{
	display: table-cell;
	margin: 0 auto;
	vertical-align: middle;
}

#personalLogo img{
	display: block;
	margin: 0 auto;
}

.homeNav{
	font-family: "Montserrat","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	border: 3px solid #fff;
	padding: 10px 35px;
}

.homeNav a{
	color: #fff;
}

.homeNav:hover{
	background-color:rgba(255, 255, 255, 0.4);
}

#workFilter{
	font-family: "Montserrat","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.workFilterChoice:nth-child(n+2){
	margin-top: 30px !important;
}

.workFilterChoice{
	border: 1px solid #ccc;
}

.workFilterChoice a:hover{
	color:#2ba6cb !important;
}

.headshot{
	margin: 0 auto;
	display: block;
	border: 3px solid #222222;
	width: 195px;
	height: 195px;
	border: 2px solid #000;
	border-radius: 100px;
	margin-right: 24px;
	float: left;
}

#helloMessage{
	font-family: "Montserrat","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #E2E2E2;
}

.personalBio{
	text-align: left;
	font-size: 14px;
	font-family: "Bitter","Open Sans","HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 400;
	margin-top: 10px;
}

#contactInfo{
	font-family: "Montserrat","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #E2E2E2;
	text-align: center;
}

#contactInfo span{
	margin-left: 30px;
}

#contactSocial{
	display: block;
	margin: 0 auto;
	text-align: center;
}

#contactSocial ul{
	display: inline-block;
}

.item i{
	width: 100px;
	height: inherit;
}

.item img{
	width: 75px;
	height: inherit;
}

.large{
	font-size: 32px;
	line-height: 32px;
}

.alignCenter{
	display: block;
	margin: 0 auto;
}

.portfolioPieceWrapper{
	padding-bottom: 80px; 
}

.portfolioPieceTitle{
	font-size: 28px;
	font-family: "Montserrat","Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #7e61c9;
}

.portfolioPieceDesc{
	font-size: 16px;
	font-family: "Bitter",sans-serif;
}

#footer{
	color: #E2E2E2;
}